@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-600;
  }
}

@layer utilities {
    .linear-gradient {
        background-image: linear-gradient(179.14deg, rgba(32, 18, 63, 0) -7.14%, #000 87.01%);
    }

    .heading-1 {
        @apply text-4xl font-bold text-gray-200;
    }

    .heading-2 {
        @apply text-3xl font-bold text-gray-200;
    }

    .heading-3 {
        @apply text-2xl font-medium text-gray-200;
    }
}